{
    "parser": "@typescript-eslint/parser",
    "plugins": ["react", "@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            "error",
            { "extensions": [".js", ".jsx", ".ts", ".tsx"]}
        ]
    }
}